body{
  padding: 20px;
  padding-top: 0px;

  background: #131313;
  color: #eeeeee;

  font-family: Arial, sans-serif;
}

canvas {
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  background: #252525;
  color: #eeeeee;
  border: 1px solid #555;
  border-radius: 5px;

  margin-top: 10px;
  padding: 5px 25px;
  font-size: 16px;

  cursor: pointer;
}
button:hover {
  background: #333;
}


/* Slider */
input[type="range"] {
  appearance: none;
  width: 200px;
  height: 6px;

  background: #252525;
  border: 1px solid #555;
  border-radius: 5px;

  cursor: pointer;
}

/* Webkit (Chrome, Edge, Safari) */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;

  width: 16px;
  height: 16px;

  background: #eeeeee;
  border: 1px solid #555;
  border-radius: 50%;

  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #cccccc;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;

  background: #eeeeee;
  border: 1px solid #555;
  border-radius: 50%;

  cursor: pointer;
}
input[type="range"]::-moz-range-thumb:hover {
  background: #cccccc;
}
input[type="range"]::-moz-range-track {
  height: 6px;

  background: #252525;
  border: 1px solid #555;
  border-radius: 5px;
}

#simControls {
  display: flex;
  align-items: end;
  gap: 5px;
}

.spacing {
  width: 10px;
}
